.partnersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px; 
}

.partnerLogo {
    width: 190px;
    margin-top: 10px;
}
