@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.container {
    padding: 20px;
    background-color: #0d0d0d;
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
  }
  .presents{
    text-align: center;
  }
  .title {
    font-size: 5.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    background: #1a1919;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
  
  .poster {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .details {
    text-align: left;
    width: 100%;
  }
  
  .date {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
  }
  
  .register {
    display: inline-block;
    padding: 10px 20px;
    background: none;
    border: 2px solid #2203ac;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .register:hover {
    background: #2203ac;
  }
  
  .footer{
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  
    .card {
      flex-direction: column;
    }
  
    .poster {
      max-width: 100%;
    }
  }