
.dec{
  translate: 0vh 12vh;
  display: flex;
  filter: blur(15px);
  margin: 0 30%;
  animation: beat 3s infinite;
  transition: ease;
   
} 
.carouselWrapper {
  margin-top: -20vh;
}
@keyframes beat {
  0%{
    filter: blur(15px);
  }

  50%{
    filter: blur(35px) ;
  }
 
  100%{
    filter: blur(15px);
  }
}
@media (max-width: 768px) {
  .dec{
    translate: -1vh 35vh;
    min-width: 400px;
    display: flex;
    filter: blur(15px);
    margin-bottom:20vh;
    margin-left: 0;
    animation: beat 3s infinite;
    transition: ease;
     
  }
  .carouselWrapper {
    margin-top: -30vh;
  }

}